@model IEnumerable<BaseOperations.Models.Shipment>

<table class="table">
    <thead>
        <tr>
            <th>
                Recipient
            </th>
            <th>
                Recipient Zip Code
            </th>
            <th>
                Sender
            </th>
            <th>
                Sender Zip Code
            </th>
            <th>
                PO Number
            </th>
            <th>
                Payment ID
            </th>
            <th>
                Date Received
            </th>
            <th>
                Bill of Lading
            </th>
            <th>
                Order Day
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if(Context.Request.Headers["Referer"].ToString().Contains("AddShipment"))
        {
        <tr>
            <td>
                Miguel Reyes
            </td>
            <td>
                84873
            </td>
            <td>
                Contoso Catering
            </td>
            <td>
                48292
            </td>
            <td>
                897423
            </td>
            <td>
                F41G94JX3N
            </td>
            <td>
                In Transit
            </td>
            <td>
                39MOD33DFE
            </td>
            <td>
                @DateTime.Now.ToString()
            </td>
            <td>
                <a href="https://baseopsstorage.blob.core.windows.net/pdfs/catering.pdf" class="waves-effect waves-light btn blue m-b-xs">View PDF</a>
            </td>
        </tr>
        }
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Recipient
            </td>
            <td>
                @item.RecipientZip
            </td>
            <td>
                @item.Sender
            </td>
            <td>
                @item.SenderZip
            </td>
            <td>
                @item.PONumber
            </td>
            <td>
                @item.PaymentID
            </td>
            <td>
                @item.DateReceived
            </td>
            <td>
                @item.BillOfLading
            </td>
            <td>
                @item.TimeAdded
            </td>
            <td>
                <a href="@item.PDFUrl" class="waves-effect waves-light btn blue m-b-xs">View PDF</a>
            </td>
        </tr>
}
    </tbody>
</table>
